.adge {
    display: flex;
}
.adge__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;

   &:last-child {
    margin-right: 0;
}
}

.adge__icon-background {
    height: 120px;
    background-color: var(--section-team-background);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adge__icon {
    width: 70px;
    height: 70px;
    background-size: cover;
}
.adge__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-top: 0;
    margin-bottom: 10px;
}
.adge__text {
    margin-top: 0;
    margin-bottom: 0;
}