.footer {
    background-color: var(--hero-footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__container {
    display: flex;
    align-items: baseline;
}
.footer__form {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
    margin-right: 93px;
}
.address__logo {
    margin-right: 70px;
    flex-grow: 1;
}
.address__item {
    margin-bottom: 9px;

    &:last-child {
        margin-bottom: 0;
    }
}
.address__link--light,
.address__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms var(--timing-function);
}
.address__link--light {
    color: #ffffff;
    &:hover,
    &:focus{
        color: var(--select-color);
    }
}
.address__link {
    color: rgba(255, 255, 255, 0.6);
    &:hover,
    &:focus {
        color: var(--select-color);
    }
}

